@charset "UTF-8";
/*----------------------------------
---------------Variables------------
------------------------------------*/
/**
 * Mixins
 * --------------------------------------------------
 */
/*
@mixin background-gradient-angle-properties($color1, $color2, $angle) {
	background: rgba($color1,1);
	background: -moz-linear-gradient($angle, rgba($color1,1) 0%, rgba($color2,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba($color1,1)), color-stop(100%, rgba($color2,1)));
	background: -webkit-linear-gradient($angle, rgba($color1,1) 0%, rgba($color2,1) 100%);
	background: -o-linear-gradient($angle, rgba($color1,1) 0%, rgba($color2,1) 100%);
	background: -ms-linear-gradient($angle, rgba($color1,1) 0%, rgba($color2,1) 100%);
	background: linear-gradient($angle, rgba($color1,1) 0%, rgba($color2,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=1 );
}
*/
/*----------------------------------
----------------General--------------
------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
h1 {
  color: #ffffff;
  font-size: 26px;
  font-family: Montserrat;
  font-weight: 700;
  text-align: center; }

h3 {
  font-family: Montserrat;
  font-weight: 700; }

p {
  font-size: 13px; }

.demo {
  max-width: 170px; }

.header, .main-container, .suscribe-section, .footer {
  padding: 2.5vw 5vw; }

.main-container {
  background-color: #00c0c9; }
  .main-container .square {
    width: 100%; }
    .main-container .square h2 {
      font-size: 13px;
      font-weight: 600;
      margin-top: 0; }
  .main-container .thumbnail {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    min-height: 541px; }
    .main-container .thumbnail h5 {
      border-bottom: 1px solid #322e6d;
      font-family: Montserrat;
      font-weight: 700;
      color: #322e6d;
      padding-bottom: 5px; }
  .main-container .number-container {
    display: flex;
    align-items: center;
    justify-content: center; }
    .main-container .number-container.blue {
      background: #00a3b7;
      background: -moz-radial-gradient(center, ellipse cover, #00a3b7 0%, #0087c1 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #00a3b7), color-stop(100%, #0087c1));
      background: -webkit-radial-gradient(center, ellipse cover, #00a3b7 0%, #0087c1 100%);
      background: -o-radial-gradient(center, ellipse cover, #00a3b7 0%, #0087c1 100%);
      background: -ms-radial-gradient(center, ellipse cover, #00a3b7 0%, #0087c1 100%);
      background: radial-gradient(ellipse at center, #00a3b7 0%, #0087c1 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3b7', endColorstr='#0087c1', GradientType=1 ); }
    .main-container .number-container.red {
      background: #e84360;
      background: -moz-radial-gradient(center, ellipse cover, #e84360 0%, #b8477c 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e84360), color-stop(100%, #b8477c));
      background: -webkit-radial-gradient(center, ellipse cover, #e84360 0%, #b8477c 100%);
      background: -o-radial-gradient(center, ellipse cover, #e84360 0%, #b8477c 100%);
      background: -ms-radial-gradient(center, ellipse cover, #e84360 0%, #b8477c 100%);
      background: radial-gradient(ellipse at center, #e84360 0%, #b8477c 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E84360', endColorstr='#B8477C', GradientType=1 ); }
    .main-container .number-container.yellow {
      background: #fab751;
      background: -moz-radial-gradient(center, ellipse cover, #fab751 0%, #f9a638 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fab751), color-stop(100%, #f9a638));
      background: -webkit-radial-gradient(center, ellipse cover, #fab751 0%, #f9a638 100%);
      background: -o-radial-gradient(center, ellipse cover, #fab751 0%, #f9a638 100%);
      background: -ms-radial-gradient(center, ellipse cover, #fab751 0%, #f9a638 100%);
      background: radial-gradient(ellipse at center, #fab751 0%, #f9a638 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAB751', endColorstr='#F9A638', GradientType=1 ); }
    .main-container .number-container.green {
      background: #79c45c;
      background: -moz-radial-gradient(center, ellipse cover, #79c45c 0%, #5ab236 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #79c45c), color-stop(100%, #5ab236));
      background: -webkit-radial-gradient(center, ellipse cover, #79c45c 0%, #5ab236 100%);
      background: -o-radial-gradient(center, ellipse cover, #79c45c 0%, #5ab236 100%);
      background: -ms-radial-gradient(center, ellipse cover, #79c45c 0%, #5ab236 100%);
      background: radial-gradient(ellipse at center, #79c45c 0%, #5ab236 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79C45C', endColorstr='#5AB236', GradientType=1 ); }
    .main-container .number-container .number {
      color: white;
      font-size: 120px; }
  .main-container .text-container {
    background: #F0F5F7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px; }
    .main-container .text-container p {
      margin: 0; }

.suscribe-section {
  background: url("../img/bg-contact.png") no-repeat bottom left #322e6d; }
  .suscribe-section .left-section {
    display: flex;
    align-items: center;
    justify-content: center; }
  .suscribe-section .specific-title {
    background: #b64c7d;
    background: -moz-linear-gradient(45deg, #b64c7d 0%, #ff8361 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #b64c7d), color-stop(100%, #ff8361));
    background: -webkit-linear-gradient(45deg, #b64c7d 0%, #ff8361 100%);
    background: -o-linear-gradient(45deg, #b64c7d 0%, #ff8361 100%);
    background: -ms-linear-gradient(45deg, #b64c7d 0%, #ff8361 100%);
    background: linear-gradient(45deg, #b64c7d 0%, #ff8361 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b64c7d', endColorstr='#ff8361', GradientType=1 );
    padding: 10px 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
  .suscribe-section h1 {
    margin: 10px -8px; }
    .suscribe-section h1 > span:first-child {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      display: inline-block;
      font-size: 18px;
      font-variant: small-caps;
      height: 80px;
      background: #322e6d;
      padding: 0 3px 0 6px;
      margin-top: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
    .suscribe-section h1 label {
      display: inline-block;
      width: 90%;
      text-align: left;
      vertical-align: top;
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 6; }
      .suscribe-section h1 label span {
        font-size: 44px;
        letter-spacing: 8; }
  .suscribe-section h3 {
    color: #ffffff;
    /*esta secci├│n se retira*/
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px; }
  .suscribe-section p {
    margin: 2vw 0;
    color: #ffffff; }
  .suscribe-section .form-group input {
    margin-right: 30px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35); }
  .suscribe-section .form-group button {
    color: white;
    font-weight: 600;
    padding: 6px 30px;
    border-radius: 6px;
    background: #00c0c9;
    /*@include background-gradient-horizontal-properties(#00c0c9, #00c0c9);*/
    border: none; }
  .suscribe-section .form-group label {
    color: #ffffff; }

/*----------------------------------
----------------Header--------------
------------------------------------*/
.header {
  background: url("../img/bg-header.jpg") center no-repeat;
  background-size: 100% auto; }
  .header .cpe-logo {
    max-width: 250px;
    margin: 10px 0 40px 0; }
  .header .intro-content {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1px 12px 10px 12px;
    color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
  .header h1 {
    margin: 14px 0px 9px;
    border-bottom: 1px solid;
    padding-bottom: 9px; }
    .header h1 span {
      font-size: 21px;
      display: block;
      letter-spacing: 0.3px; }
  .header .right-section {
    display: flex;
    align-items: center;
    justify-content: center; }

/*----------------------------------
----------------Footer--------------
------------------------------------*/
.footer .logo-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .logo-container .logo {
    max-width: 140px; }
  .footer .logo-container .vertical-separator {
    border-left: 1px solid gray;
    height: 90px;
    margin: 0 20px; }

/*----------------------------------
--------------Media Query-----------
------------------------------------*/
@media screen and (max-width: 1199px) {
  .main-container .squares-container {
    position: relative; }
  .main-container .text-container {
    position: absolute;
    top: 0;
    background: none;
    color: white; }
    .main-container .text-container .wrap {
      padding: 0 5vw; }
  .main-container .number {
    display: none; } }
@media screen and (min-width: 992px) {
  .header {
    display: flex;
    align-items: stretch; }
    .header .right-section {
      height: 300px; }

  .suscribe-section {
    display: flex;
    align-items: stretch; } }
@media screen and (min-width: 768px) {
  .main-container .column {
    padding: 0;
    display: inline-flex; }
  .main-container .squares-container {
    width: 50%; } }
@media screen and (max-width: 767px) {
  .suscribe-section {
    background-image: none; }

  .header .cpe-logo {
    max-width: 150px;
    margin: auto; }
  .header .intro-content {
    margin-top: 10px;
    padding: 0px 12px 1px 12px; }
    .header .intro-content h1 {
      padding: 5px 0px;
      margin-top: 5px; }

  .main-container .squares-container {
    width: 100%; }

  .suscribe-section button {
    margin-top: 20px;
    float: right; } }

/*# sourceMappingURL=style.css.map */
