/*----------------------------------
----------------General--------------
------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
h1 {
    color: $header-title;
    font-size: 26px;
	font-family: Montserrat;
	font-weight:700;
	text-align:center;
}
h3{
	font-family: Montserrat;
	font-weight:700;
}

p {
    font-size: 13px;
}

.demo {
    max-width: 170px;
}

.header, .main-container, .suscribe-section, .footer {
    padding: 2.5vw 5vw;
}

.main-container {
	background-color:#00c0c9;
    .square {
        width: 100%;

        h2 {
            font-size: 13px;
            font-weight: 600;
            margin-top: 0;
        }
    }
	.thumbnail{
		@include border-radius-properties(10px);
		min-height: 541px;
		h5{
			border-bottom: 1px solid #322e6d;
			font-family: Montserrat;
			font-weight: 700;
			color:#322e6d;
			padding-bottom:5px;
		}
	}

    .number-container {
        display: flex;
        align-items: center;
        justify-content: center;

        &.blue {
            @include background-gradient-properties(#00a3b7, #0087c1);
        }
        &.red {
            @include background-gradient-properties(#E84360, #B8477C);
        }
        &.yellow {
            @include background-gradient-properties(#FAB751, #F9A638);
        }
        &.green {
            @include background-gradient-properties(#79C45C, #5AB236);
        }
        .number {
            color: white;
            font-size: 120px;
        }
    }

    .text-container {
        background: $white-square-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;

        p {
          margin: 0;
        }
    }
}
.suscribe-section {
	background: url('../img/bg-contact.png') no-repeat bottom left #322e6d;
    .left-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }
	.specific-title{
		background: rgba(182,76,125,1);
		background: -moz-linear-gradient(45deg, rgba(182,76,125,1) 0%, rgba(255,131,97,1) 100%);
		background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(182,76,125,1)), color-stop(100%, rgba(255,131,97,1)));
		background: -webkit-linear-gradient(45deg, rgba(182,76,125,1) 0%, rgba(255,131,97,1) 100%);
		background: -o-linear-gradient(45deg, rgba(182,76,125,1) 0%, rgba(255,131,97,1) 100%);
		background: -ms-linear-gradient(45deg, rgba(182,76,125,1) 0%, rgba(255,131,97,1) 100%);
		background: linear-gradient(45deg, rgba(182,76,125,1) 0%, rgba(255,131,97,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b64c7d', endColorstr='#ff8361', GradientType=1 );
		padding:10px 25px;
		@include border-radius-properties(10px);
	}
	h1{
	 margin:10px -8px;
		& > span:first-child{
			writing-mode: vertical-lr;
			transform: rotate(180deg);
			display:inline-block;
			font-size: 18px;
			font-variant: small-caps;
			height: 80px;
			background: #322e6d;
			padding: 0 3px 0 6px;
			margin-top: 5px;
			@include border-radius-properties(5px);
		}
		label{
			display:inline-block;
			width:90%;
			text-align:left;
			vertical-align:top;
			font-size: 36px;
			text-transform: uppercase;
			letter-spacing:6;
			span{
				font-size: 44px;
				letter-spacing:8;
			}
		}
	}
	h3{
		color:#ffffff;/*esta sección se retira*/
		text-transform: uppercase;
		font-weight:700;
		letter-spacing: 3px;
	}
    p {
        margin: 2vw 0;
		color:#ffffff;
    }

    .form-group {
        input {
            margin-right: 30px;
            @include box-shadow-properties(0px 0px 30px 0px rgba(0,0,0,0.35));
        }
        button {
            color: white;
            font-weight: 600;
            padding: 6px 30px;
            border-radius: 6px;
			background:#00c0c9;
            /*@include background-gradient-horizontal-properties(#00c0c9, #00c0c9);*/
			border:none;
        }
		label {
			color:#ffffff;
		}
    }
}
