/*----------------------------------
--------------Media Query-----------
------------------------------------*/
@media screen and (max-width: 1199px) {
    .main-container {
        .squares-container {
            position: relative;
        }
        .text-container {
            position: absolute;
            top: 0;
            background: none;
            color: white;

            .wrap {
                padding: 0 5vw;
            }
        }
        .number {
            display: none;
        }
    }
}
@media screen and (min-width: 992px) {
    .header {
        display: flex;
        align-items: stretch;

        .right-section {
            height: 300px;
        }
    }
    .suscribe-section {
        display: flex;
        align-items: stretch;
    }
}
@media screen and (min-width: 768px) {
    .main-container {
        .column {
            padding: 0;
            display: inline-flex;
        }
        .squares-container {
            width: 50%;
        }
    }
    .suscribe-section {
        .form-group {
          display: flex;
        }
    }
}
@media screen and (max-width: 767px) {
	.header {
		.cpe-logo {
			max-width: 150px;
			margin:auto;
		}
		.intro-content{
			h1{
				padding:5px 0px;
				margin-top:5px;
			}
			margin-top:10px;
			padding:0px 12px 1px 12px;
		}
	}
    .main-container {
        .squares-container {
            width: 100%;
        }
    }
    .suscribe-section {
        button {
          margin-top: 20px;
          float: right;
        }
    }
}
